/* set default parameters and reset html styling */
*{  
    margin: 0px;
    padding: 3px;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: gray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header a{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 39px;

}
h1 {
    width: 20%;
    background-color: turquoise;
    padding-left: 35px;
    color:darkmagenta;
    font-size: 39px;
}
h1:hover {
    transform:scale(1.03) 
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}
nav a:hover{ 
    color:blue;
    font-weight: bold;
    text-shadow: 2px 0px 5px;
}
/* style the "world at your fingertips text box, added opacity and border radius */
.subtitle {  
    display: flex;  
    flex-wrap: wrap;
    justify-content: flex-end;
    line-height: 1.0;
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 47px;
    background-color: lightblue;
    opacity: 75%;
    border-radius: 15px 15px;
    text-align: center;
    
}
.element1 {
  height: 433px;
  background-image: url(./images/nurburgring.jpg);
  background-size: cover; 
  background-position:  0px -402px; 
  /* positioned image correctly to show sweeping turn
  background-attachment: fixed; /* Image scrolls with the page */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: flex-end;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px 10px;
}
.aboutme {
    display: flex;
    background-color: rgb(255, 123, 0);
    border-radius: 10px 10px;
    height: 110px;
    width: 100%;
    color: rgb(0, 119, 255);
    border: 5px solid blue;
}
#abouttag {
    width: 20%;
    font-size: 55px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
  }
  .images {
    position:relative;
    
  }
  
  .images img {
    max-width: 500px;
    max-height: 300px;
    object-fit: cover;
    width: 100%;
  }
  .Work { 
    background-color: rgb(255, 123, 0);
    height: 75px;
    color: rgb(0, 119, 255);
    font-size: 50px;
    margin-bottom: 10px;
    border-radius: 15px 15px;
    border: 5px solid blue;
}
    
  h3 {
      font-size: 200%;
      margin-top: 25px;
      color: rgb(0, 119, 255);
      background-color: rgb(255, 123, 0);
      border-radius: 15px 15px;
      border: 5px solid blue;
  }
  h4 {
    font-size: 200%;
    margin-top: -7px;
    color: darkmagenta;
    background-color: turquoise;
    border-radius: 15px 15px;
    border: 5px solid darkgray; 
    text-align: center;
  }
  h4:hover {
      transform: scale(1.1);
      transition: 250ms;
  }
  #transf img {
    opacity: 35%;
  }
  #transf:hover img {
    opacity:100%;
    transform: scale(1.2);
    transform: rotate(0.01turn);  
  }